.navbar
{
    background: rgb(49,195,34);
    background: linear-gradient(0deg, rgba(49,195,34,1) 0%, rgba(44,85,9,1) 100%);
    color: white;
    position: fixed;
    



}
 h7
 {
color: white;




 }

 .container {  display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50% 50% 50%;
    gap: 50px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . .";
  }
  
  .container1 {  display: grid;
    grid-template-columns: 5.5fr 5.5fr;
    grid-auto-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
  }
  
  body{ height: 100%;
margin: 0px;
padding: 0px;
background-repeat: no-repeat ;
background-size: cover;
background-attachment: fixed;
  }

  @media screen and (max-width:720px) {
    #print-footer {
        display: none;}
        .Responsive-2{
          display: none;
        }
    }
    

    @media print {
        .hide-in-print {display:none;
        }
        .navbar, .col-4, .carousel, .W, .card-text {
            display: none;
            
          }
      }
      @page {
        size: A4 landscape;
        margin: 0 15pt; 
        
     }

     .col-4{
       position: fixed;
       width: auto;
     }